V1/tes_mic_source_localization.json
[{"id":"93349eaf.7071c","type":"mic_enable","z":"f51014e1.3bc3b8","name":"","mode":"1","filter_mask":4,"notification_enabled":"false","noti_freq":200,"x":310.5,"y":131,"wires":[["73d6d09e.2a368"]]},{"id":"22de37e9.cafd68","type":"mic_notification_catch","z":"f51014e1.3bc3b8","name":"","x":328.5,"y":344,"wires":[["61f8d578.fcc18c","2cde5cf9.14e464"],[]]},{"id":"a23c2a9a.6fd658","type":"mic_read_angle","z":"f51014e1.3bc3b8","name":"","x":345.5,"y":243,"wires":[["73d6d09e.2a368"]]},{"id":"662637e6.466c48","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126,"y":134,"wires":[["93349eaf.7071c","b4d527cd.0714a8"]]},{"id":"6b364c4f.60d8d4","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":135,"y":234,"wires":[["a23c2a9a.6fd658"]]},{"id":"a2f13ca9.62c3e","type":"serial in","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":102,"y":344,"wires":[["22de37e9.cafd68"]]},{"id":"73d6d09e.2a368","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":549,"y":128,"wires":[]},{"id":"61f8d578.fcc18c","type":"debug","z":"f51014e1.3bc3b8","name":"","active":true,"console":"false","complete":"false","x":611,"y":261,"wires":[]},{"id":"2cde5cf9.14e464","type":"function","z":"f51014e1.3bc3b8","name":"","func":"\n\nif(msg.angle == flow.get('angle'))\n    return null;\n    \nif(msg.angle == -1)\n    msg.pin = 5;\nelse\n{\nif(msg.angle >= 276 || msg.angle <= 45)\n    msg.pin = 4;\nelse if(msg.angle >= 46 && msg.angle <= 135)\n    msg.pin = 3; \nelse if(msg.angle >= 136 && msg.angle <= 225)\n    msg.pin = 2; \nelse if(msg.angle >= 226 && msg.angle <= 275)\n    msg.pin = 1; \n}\n\nflow.set('angle',msg.angle);\n\nreturn msg;","outputs":"1","noerr":0,"x":540,"y":336,"wires":[["5e85cf29.62303"]]},{"id":"b4d527cd.0714a8","type":"led_rgb_enable","z":"f51014e1.3bc3b8","name":"","pin":"0","enabled":"true","x":339.5,"y":76,"wires":[["73d6d09e.2a368"]]},{"id":"2709afb2.099d5","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"","color":"FF0000","intensity":50,"autostart":"true","x":579.5,"y":522,"wires":[["401e801d.74c4"]]},{"id":"5e85cf29.62303","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":608,"y":439,"wires":[["401e801d.74c4","2709afb2.099d5"]]},{"id":"401e801d.74c4","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":813,"y":446,"wires":[]},{"id":"8a035ee3.aacaf","type":"serial-port","z":"f51014e1.3bc3b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]