V1/test_prox_and_gestures.json
[{"id":"48d7d7ca.532148","type":"serial out","z":"b1c0bbe8.0d8988","name":"","serial":"bfe20d74.4e89b","x":815.5078125,"y":186,"wires":[]},{"id":"896a5bd0.cb9cb8","type":"serial in","z":"b1c0bbe8.0d8988","name":"","serial":"bfe20d74.4e89b","x":168.5078125,"y":552,"wires":[["af38e9b7.121908","acc4d2af.6d853"]]},{"id":"e4b1783b.50e3b8","type":"prox_lux_enable","z":"b1c0bbe8.0d8988","name":"","pin":1,"enabled":"true","x":506.5078125,"y":143,"wires":[["48d7d7ca.532148"]]},{"id":"1c162672.e8f52a","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":259.0078125,"y":138,"wires":[["e4b1783b.50e3b8"]]},{"id":"25da521e.d54cee","type":"prox_lux_managed","z":"b1c0bbe8.0d8988","name":"","enabled":"true","x":503.5078125,"y":340,"wires":[["48d7d7ca.532148"]]},{"id":"af38e9b7.121908","type":"prox_lux_managed_catch","z":"b1c0bbe8.0d8988","name":"","x":423.5078125,"y":693,"wires":[["f8fb4362.e503d","57bb0e15.d0cb3"],["80d35db7.4cb09","57bb0e15.d0cb3"]]},{"id":"9ab06623.df0ea8","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP6","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":284.0078125,"y":346,"wires":[["25da521e.d54cee"]]},{"id":"6db3fefe.2d285","type":"prox_lux_enable","z":"b1c0bbe8.0d8988","name":"","pin":"2","enabled":"true","x":493.0078125,"y":191,"wires":[["48d7d7ca.532148"]]},{"id":"3097f8be.5df9a8","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":270.0078125,"y":182,"wires":[["6db3fefe.2d285"]]},{"id":"5ee280e1.4c923","type":"serial out","z":"b1c0bbe8.0d8988","name":"","serial":"bfe20d74.4e89b","x":1025.0078125,"y":608,"wires":[]},{"id":"e96bf330.2319a","type":"prox_lux_configure","z":"b1c0bbe8.0d8988","name":"","pin":1,"disable_lux":"true","disable_prox":"false","extended_range":"1","x":497.5078125,"y":238,"wires":[["48d7d7ca.532148"]]},{"id":"4413c27e.453c4c","type":"prox_lux_configure","z":"b1c0bbe8.0d8988","name":"","pin":"2","disable_lux":"true","disable_prox":"false","extended_range":"1","x":504.0078125,"y":286,"wires":[["48d7d7ca.532148"]]},{"id":"52a68c1e.73f554","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP4","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263.0078125,"y":234,"wires":[["e96bf330.2319a"]]},{"id":"98024134.659e1","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP5","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.0078125,"y":291,"wires":[["4413c27e.453c4c"]]},{"id":"2339e7d.9381418","type":"led_rgb_enable","z":"b1c0bbe8.0d8988","name":"","pin":"0","enabled":"true","x":488.0078125,"y":82,"wires":[["48d7d7ca.532148"]]},{"id":"d47d50d1.32279","type":"inject","z":"b1c0bbe8.0d8988","name":"STEP1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277.0548095703125,"y":85.46200561523438,"wires":[["2339e7d.9381418","84b81980.a1b8c8"]]},{"id":"acc4d2af.6d853","type":"prox_lux_get_prox","z":"b1c0bbe8.0d8988","name":"","x":463.75,"y":447.828125,"wires":[["31a45f68.b8048"]]},{"id":"a42d6939.480438","type":"prox_lux_read_prox","z":"b1c0bbe8.0d8988","name":"","pin":"2","x":858.7421875,"y":320.6796875,"wires":[["48d7d7ca.532148"]]},{"id":"56188030.041ac","type":"inject","z":"b1c0bbe8.0d8988","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.15","crontab":"","once":false,"x":759.75,"y":382.9609375,"wires":[["a42d6939.480438"]]},{"id":"cc3db2aa.b41c7","type":"led_rgb_set","z":"b1c0bbe8.0d8988","name":"","pin":"0","color":"","intensity":"","autostart":"true","x":788.5078125,"y":547.5234375,"wires":[["5ee280e1.4c923"]]},{"id":"31a45f68.b8048","type":"function","z":"b1c0bbe8.0d8988","name":"CHANGE INTENSITY","func":"\nmsg.led_intensity = [0];\nmsg.led_color = [0];\n\nmsg.led_color[0] = flow.get('color');\n\nif(msg.payload < 255)\n    flow.set('valid_ticks',flow.get('valid_ticks')+1);\nelse\n    flow.set('valid_ticks',0);\n\nif(msg.payload >= 255 || flow.get('valid_ticks') < 5)\n{\n    msg.led_intensity[0] = 0;\n    msg.buzz_toggle = 0;\n}\nelse\n {\n     msg.led_intensity[0] = 20 - parseInt((msg.payload * 20) / 255);\n     msg.buzz_toggle = parseInt((msg.payload * 300) / 255);\n }\n\nreturn msg;","outputs":1,"noerr":0,"x":584.5078125,"y":507.9609375,"wires":[["cc3db2aa.b41c7","c2af62c1.eaf4d"]]},{"id":"eb23619d.a8aea","type":"buzz_enable","z":"b1c0bbe8.0d8988","name":"","enabled":"true","x":509.4921875,"y":376.9375,"wires":[["48d7d7ca.532148"]]},{"id":"c2af62c1.eaf4d","type":"buzz_change","z":"b1c0bbe8.0d8988","name":"","frequency":"500","duty_cycle":50,"use_toggle":"true","toggle":"","x":790.4921875,"y":486.9609375,"wires":[["5ee280e1.4c923"]]},{"id":"a7193167.748b","type":"inject","z":"b1c0bbe8.0d8988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":269.7578125,"y":391.953125,"wires":[["eb23619d.a8aea"]]},{"id":"80d35db7.4cb09","type":"function","z":"b1c0bbe8.0d8988","name":"CHANGE COLOR BLUE","func":"flow.set('color',\"0000FF\");","outputs":"0","noerr":0,"x":657.5078125,"y":753.9609375,"wires":[]},{"id":"84b81980.a1b8c8","type":"function","z":"b1c0bbe8.0d8988","name":"INIT","func":"flow.set('color',\"FF0000\");\nflow.set('valid_ticks',0);\nreturn msg;","outputs":1,"noerr":0,"x":451.4921875,"y":45.96875,"wires":[[]]},{"id":"f8fb4362.e503d","type":"function","z":"b1c0bbe8.0d8988","name":"CHANGE COLOR RED","func":"flow.set('color',\"FF0000\");","outputs":"0","noerr":0,"x":660.5078125,"y":631.5234375,"wires":[]},{"id":"57bb0e15.d0cb3","type":"buzz_change","z":"b1c0bbe8.0d8988","name":"","frequency":"4000","duty_cycle":50,"use_toggle":"false","toggle":"","x":673.5078125,"y":695.5234375,"wires":[["567d4ed0.e6b26","5ee280e1.4c923"]]},{"id":"567d4ed0.e6b26","type":"delay","z":"b1c0bbe8.0d8988","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":872.4921875,"y":713.96875,"wires":[["ba984db.653d4b"]]},{"id":"ba984db.653d4b","type":"buzz_change","z":"b1c0bbe8.0d8988","name":"","frequency":"200","duty_cycle":50,"use_toggle":"true","toggle":"0","x":1100.5078125,"y":700.5234375,"wires":[["5ee280e1.4c923"]]},{"id":"bfe20d74.4e89b","type":"serial-port","z":"b1c0bbe8.0d8988","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]