V1/test_leds_color_picker.json
[{"id":"3118b5d4.5b929a","type":"ui_colour_picker","z":"1e37fe18.e3bfe2","name":"","label":"Pick Color","group":"d685525b.a31da","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"6","passthru":true,"topic":"","x":461.82642364501953,"y":517.354211807251,"wires":[["71c07a80.c64da4","41f64a4e.f0d244"]]},{"id":"71c07a80.c64da4","type":"debug","z":"1e37fe18.e3bfe2","name":"","active":true,"console":"false","complete":"payload","x":697.8368873596191,"y":634.1110420227051,"wires":[]},{"id":"2295c20c.ee90be","type":"inject","z":"1e37fe18.e3bfe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":535.8958129882812,"y":328.4620170593262,"wires":[["d8a0e0a4.4c593"]]},{"id":"d8a0e0a4.4c593","type":"led_rgb_enable","z":"1e37fe18.e3bfe2","name":"","pin":"0","enabled":"true","x":740.8488159179688,"y":329,"wires":[["15fa4ec3.28d851"]]},{"id":"15fa4ec3.28d851","type":"serial out","z":"1e37fe18.e3bfe2","name":"","serial":"7c06a200.3f528","x":965.8488159179688,"y":368.5,"wires":[]},{"id":"5a01a6c7.e87558","type":"led_rgb_set","z":"1e37fe18.e3bfe2","name":"","pin":"0","color":"","intensity":"50","autostart":"true","x":802.8489036560059,"y":510.99999618530273,"wires":[["15fa4ec3.28d851"]]},{"id":"9879093.4dfe5f8","type":"led_rgb_enable","z":"1e37fe18.e3bfe2","name":"","pin":"0","enabled":"false","x":721.8958206176758,"y":402.88889503479004,"wires":[["15fa4ec3.28d851"]]},{"id":"c14e336a.145","type":"inject","z":"1e37fe18.e3bfe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":521.8958358764648,"y":405.888916015625,"wires":[["9879093.4dfe5f8"]]},{"id":"41f64a4e.f0d244","type":"function","z":"1e37fe18.e3bfe2","name":"PARSE","func":"\nmsg.led_color = [];\nmsg.led_color[0] = msg.payload.replace('#','');\nreturn msg;","outputs":1,"noerr":0,"x":645.8402709960938,"y":515.7500171661377,"wires":[["5a01a6c7.e87558"]]},{"id":"d685525b.a31da","type":"ui_group","z":"","name":"Default","tab":"5b8a30e9.9874c","disp":true,"width":"6"},{"id":"7c06a200.3f528","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5b8a30e9.9874c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]