V1/test_env.json
[{"id":"98e91e1c.3663d","type":"serial out","z":"e8cd1f4d.dd4ba8","name":"","serial":"68d4b633.a2304","x":718,"y":247.5,"wires":[]},{"id":"b2e18d9.13cb77","type":"inject","z":"e8cd1f4d.dd4ba8","name":"ENABLE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":242,"y":215,"wires":[["5fa1c0d1.2197c8"]]},{"id":"5fa1c0d1.2197c8","type":"env_enable","z":"e8cd1f4d.dd4ba8","name":"","enabled":"true","pressure":"true","temperature":"true","humidity":"true","lux":"true","x":436,"y":214,"wires":[["98e91e1c.3663d"]]},{"id":"e7d0fd6c.e0f42","type":"env_read","z":"e8cd1f4d.dd4ba8","name":"","x":446,"y":286,"wires":[["98e91e1c.3663d"]]},{"id":"f02d3643.e57298","type":"inject","z":"e8cd1f4d.dd4ba8","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":226,"y":288,"wires":[["e7d0fd6c.e0f42"]]},{"id":"cd3f2322.f7599","type":"serial in","z":"e8cd1f4d.dd4ba8","name":"","serial":"68d4b633.a2304","x":218,"y":358,"wires":[["d209ab42.5ff8a8"]]},{"id":"d209ab42.5ff8a8","type":"env_notification_catch","z":"e8cd1f4d.dd4ba8","name":"","x":441,"y":356,"wires":[["6e4d9f70.431ee"]]},{"id":"6e4d9f70.431ee","type":"function","z":"e8cd1f4d.dd4ba8","name":"CLOUD","func":" msg.headers = {  \n \"Content-Type\": \"application/json\",  \n \"Authorization\": \"Bearer <ID>\"  \n };\n msg.payload = {\"data\": \n {\"temp\": msg.temperature,\"lux\": msg.lux,\"pressure\": msg.pressure,\"humidity\": msg.humidity},  \n \"sdid\": \"<ID>\",  \n \"type\": \"message\"  \n };\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":356,"wires":[["f39a9dd5.ea624"]]},{"id":"f39a9dd5.ea624","type":"http request","z":"e8cd1f4d.dd4ba8","name":"","method":"POST","ret":"txt","url":"https://api.artik.cloud/v1.1/messages","x":832,"y":355,"wires":[[]]},{"id":"68d4b633.a2304","type":"serial-port","z":"e8cd1f4d.dd4ba8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]