V1/test_prox_dashboard.json
[{"id":"57684de9.8756c4","type":"prox_lux_read_prox","z":"1e37fe18.e3bfe2","name":"","pin":"1","x":769,"y":417.5,"wires":[["c0aa5ba8.8247f8"]]},{"id":"c0aa5ba8.8247f8","type":"serial out","z":"1e37fe18.e3bfe2","name":"","serial":"5ec2f76f.6bbfe8","x":1066,"y":421.5,"wires":[]},{"id":"e91e4b18.6257c8","type":"prox_lux_enable","z":"1e37fe18.e3bfe2","name":"","pin":1,"enabled":"true","x":757,"y":249,"wires":[["c0aa5ba8.8247f8"]]},{"id":"db54d5d0.23a1f8","type":"inject","z":"1e37fe18.e3bfe2","name":"INIT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":502,"y":250,"wires":[["e91e4b18.6257c8"]]},{"id":"a99d3f72.dae17","type":"inject","z":"1e37fe18.e3bfe2","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":513,"y":425,"wires":[["57684de9.8756c4"]]},{"id":"1ed5f3f2.7de42c","type":"prox_lux_get_prox","z":"1e37fe18.e3bfe2","name":"","x":704.0000152587891,"y":536.0000114440918,"wires":[["fbe83d25.6a19"]]},{"id":"1af057a.7bd9fa8","type":"serial in","z":"1e37fe18.e3bfe2","name":"","serial":"c40c3f5d.6f2cb","x":480,"y":540.2777709960938,"wires":[["1ed5f3f2.7de42c"]]},{"id":"5903c60a.38e138","type":"ui_gauge","z":"1e37fe18.e3bfe2","name":"","group":"d685525b.a31da","order":0,"width":0,"height":0,"gtype":"gage","title":"Proximity","label":"mm","format":"{{1000 - value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1041.0000190734863,"y":545.0000114440918,"wires":[]},{"id":"fbe83d25.6a19","type":"function","z":"1e37fe18.e3bfe2","name":"FILTER","func":"if(msg.payload != \"2555\")\n{\n    msg.payload = 1000 - parseInt(msg.payload);\n    return msg;\n}\n\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":883,"y":538,"wires":[["5903c60a.38e138"]]},{"id":"5ec2f76f.6bbfe8","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c40c3f5d.6f2cb","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d685525b.a31da","type":"ui_group","z":"","name":"1","tab":"5b8a30e9.9874c","disp":true,"width":"14"},{"id":"5b8a30e9.9874c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]