V1/test_led_managed.json
[{"id":"517b81fb.451c9","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":314,"y":446,"wires":[["9d2302d1.fa5b3"]]},{"id":"9d2302d1.fa5b3","type":"led_rgb_enable","z":"f51014e1.3bc3b8","name":"","pin":"0","enabled":"true","x":508.9530029296875,"y":443.5379943847656,"wires":[["b0f6475b.771c28","684b9ed2.d75aa"]]},{"id":"b0f6475b.771c28","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"ec546788.13d0e8","x":742.9530029296875,"y":486.0379943847656,"wires":[]},{"id":"3ad24644.d7ba9a","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":303.9530029296875,"y":598.5379943847656,"wires":[["63ca667c.25db58"]]},{"id":"63ca667c.25db58","type":"led_rgb_set_managed","z":"f51014e1.3bc3b8","name":"","pin":"0","effect":"1","color_target":"FF0000","intensity_target":"50","duration":"1000","loop":"0","loop_delay":"0","autostart":"true","x":504.5,"y":600,"wires":[["b0f6475b.771c28"]]},{"id":"684b9ed2.d75aa","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":494.5,"y":513,"wires":[["b0f6475b.771c28"]]},{"id":"ec546788.13d0e8","type":"serial-port","z":"f51014e1.3bc3b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]