V1/test_tap.json
[{"id":"2e01f84a.b45118","type":"inject","z":"34d449b6.47db06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":220,"wires":[["bf015ed0.cff09","d34519be.3da6f8"]]},{"id":"bf015ed0.cff09","type":"pos_configure","z":"34d449b6.47db06","name":"","enable_raw_notification":"false","enable_euler_notification":"0","sampling_frequency":"1","tap_notification":"true","dtap_notification":"false","freefall_notification":"false","tilt_notification":"false","wakeup_notification":"false","pedometer_notification":"false","x":487,"y":220,"wires":[["db28787a.324728"]]},{"id":"db28787a.324728","type":"serial out","z":"34d449b6.47db06","name":"","serial":"f346a3ad.f384e","x":916,"y":188.5,"wires":[]},{"id":"9068b926.361198","type":"pos_enable","z":"34d449b6.47db06","name":"","enabled":"true","x":498,"y":164,"wires":[["db28787a.324728"]]},{"id":"dcedca73.f87d08","type":"inject","z":"34d449b6.47db06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":166,"wires":[["9068b926.361198","349c2c66.8473f4"]]},{"id":"97249ee4.e5c26","type":"pos_notification_catch","z":"34d449b6.47db06","name":"","x":460.5,"y":392,"wires":[[],[],[],["1159722d.16778e"],[],[],[],[]]},{"id":"b398a3f7.3bca5","type":"serial in","z":"34d449b6.47db06","name":"","serial":"f346a3ad.f384e","x":237,"y":391,"wires":[["97249ee4.e5c26"]]},{"id":"1159722d.16778e","type":"function","z":"34d449b6.47db06","name":"INC STEPS","func":"//var old_steps = flow.get('old_steps') || 0;\nflow.set('steps', flow.get('steps')+1 /*- old_steps*/);\nreturn msg;","outputs":"0","noerr":0,"x":724,"y":387.5,"wires":[]},{"id":"cd527aec.9be2f8","type":"inject","z":"34d449b6.47db06","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":240,"y":504.5,"wires":[["d81e8b1c.d2f348"]]},{"id":"d34519be.3da6f8","type":"function","z":"34d449b6.47db06","name":"INIT STEPS","func":"flow.set('steps',0);\nflow.set('old_steps',0);","outputs":"0","noerr":0,"x":485,"y":268,"wires":[]},{"id":"349c2c66.8473f4","type":"led_rgb_enable","z":"34d449b6.47db06","name":"","pin":"0","enabled":"true","x":510,"y":117,"wires":[["db28787a.324728"]]},{"id":"d81e8b1c.d2f348","type":"function","z":"34d449b6.47db06","name":"LED CONFIGURE","func":"var msg2;\nmsg.led_color = [];\nnode.log(flow.get('steps'));\nvar steps_count = flow.get('steps') || 0;\n\nif(steps_count != flow.get('old_steps') && steps_count > 0)\n{\n    flow.set('old_steps', steps_count);\n\n    msg.pin = (steps_count % 4) + 1;\n\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":480,"y":506.5,"wires":[["b5544e60.f43e1"]]},{"id":"b5544e60.f43e1","type":"led_rgb_set","z":"34d449b6.47db06","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":717.5,"y":503.5,"wires":[["db28787a.324728","3714cb40.944034"]]},{"id":"3714cb40.944034","type":"led_rgb_set","z":"34d449b6.47db06","name":"","pin":"","color":"0000FF","intensity":50,"autostart":"true","x":752,"y":611,"wires":[["db28787a.324728"]]},{"id":"f346a3ad.f384e","type":"serial-port","z":"34d449b6.47db06","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]