V1/test_mic_source_localization.json
[{"id":"e363f218.a0437","type":"mic_enable","z":"5b3a8e90.b1eaa","name":"","mode":"1","filter_mask":4,"notification_enabled":"false","noti_freq":200,"x":417,"y":150,"wires":[["a5fe127e.beac"]]},{"id":"44654e44.ba615","type":"mic_notification_catch","z":"5b3a8e90.b1eaa","name":"","x":435,"y":363,"wires":[["bbd1d6ae.2b5148"],[]]},{"id":"b6ef15f.af0e5e8","type":"mic_read_angle","z":"5b3a8e90.b1eaa","name":"","x":452,"y":262,"wires":[["a5fe127e.beac"]]},{"id":"8a5752b0.99f92","type":"inject","z":"5b3a8e90.b1eaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232.5,"y":153,"wires":[["e363f218.a0437","d4231d2f.c72ec"]]},{"id":"70f0b3f.75a404c","type":"inject","z":"5b3a8e90.b1eaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":241.5,"y":253,"wires":[["b6ef15f.af0e5e8"]]},{"id":"f19840f6.d60f9","type":"serial in","z":"5b3a8e90.b1eaa","name":"","serial":"7a658832.7ca338","x":208.5,"y":363,"wires":[["44654e44.ba615"]]},{"id":"a5fe127e.beac","type":"serial out","z":"5b3a8e90.b1eaa","name":"","serial":"7a658832.7ca338","x":655.5,"y":147,"wires":[]},{"id":"bbd1d6ae.2b5148","type":"function","z":"5b3a8e90.b1eaa","name":"","func":"\n\nif(parseInt(msg.angle / 90) == parseInt(flow.get('angle') / 90))\n    return null;\n    \nif(msg.angle == -1)\n    msg.pin = 5;\nelse\n{\nif(msg.angle >= 276 || msg.angle <= 45)\n    msg.pin = 4;\nelse if(msg.angle >= 46 && msg.angle <= 135)\n    msg.pin = 3; \nelse if(msg.angle >= 136 && msg.angle <= 225)\n    msg.pin = 2; \nelse if(msg.angle >= 226 && msg.angle <= 275)\n    msg.pin = 1; \n}\n\nflow.set('angle',msg.angle);\n\nreturn msg;","outputs":"1","noerr":0,"x":646.5,"y":355,"wires":[["f4a60306.f675d","1a7cf94.66c8907"]]},{"id":"d4231d2f.c72ec","type":"led_rgb_enable","z":"5b3a8e90.b1eaa","name":"","pin":"0","enabled":"true","x":446,"y":95,"wires":[["a5fe127e.beac"]]},{"id":"4a2b6428.91b5fc","type":"led_rgb_set","z":"5b3a8e90.b1eaa","name":"","pin":"","color":"FF0000","intensity":50,"autostart":"true","x":686,"y":541,"wires":[["424e8157.c92c"]]},{"id":"f4a60306.f675d","type":"led_rgb_set","z":"5b3a8e90.b1eaa","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":714.5,"y":458,"wires":[["424e8157.c92c","4a2b6428.91b5fc"]]},{"id":"424e8157.c92c","type":"serial out","z":"5b3a8e90.b1eaa","name":"","serial":"7a658832.7ca338","x":919.5,"y":465,"wires":[]},{"id":"1a7cf94.66c8907","type":"debug","z":"5b3a8e90.b1eaa","name":"","active":true,"console":"false","complete":"angle","x":889,"y":366,"wires":[]},{"id":"7a658832.7ca338","type":"serial-port","z":"5b3a8e90.b1eaa","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
