V1/test_neopixel.json
[{"id":"3e6709a8.761386","type":"led_neopixel_enable","z":"705668b7.7ee7b8","name":"","enabled":"true","nleds":"24","x":434.5,"y":317,"wires":[["ebb2d6fc.5fbfb8"]]},{"id":"9d24daed.7de408","type":"led_neopixel_set","z":"705668b7.7ee7b8","name":"","pin":"0","color":"FFFFFF","intensity":"20","autostart":"true","x":434.5,"y":378,"wires":[["ebb2d6fc.5fbfb8"]]},{"id":"a4a804e6.085908","type":"inject","z":"705668b7.7ee7b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":223,"y":309,"wires":[["3e6709a8.761386"]]},{"id":"e55d6acf.3dc048","type":"inject","z":"705668b7.7ee7b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219,"y":369,"wires":[["9d24daed.7de408"]]},{"id":"ebb2d6fc.5fbfb8","type":"serial out","z":"705668b7.7ee7b8","name":"","serial":"61f95880.bbffb8","x":641,"y":318,"wires":[]},{"id":"61f95880.bbffb8","type":"serial-port","z":"705668b7.7ee7b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]