V1/test_lra.json
[{"id":"ee5b5f22.b92df","type":"inject","z":"97842f82.b68198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218,"y":243,"wires":[["15897819.eacfd"]]},{"id":"e8b21612.a6e4e","type":"inject","z":"97842f82.b68198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222,"y":300,"wires":[["240ba1d8.5f7cbe"]]},{"id":"66555444.dcd204","type":"serial out","z":"97842f82.b68198","name":"","serial":"c5e51881.53abe8","x":791,"y":226.5,"wires":[]},{"id":"15897819.eacfd","type":"lra_enable","z":"97842f82.b68198","name":"","pin":1,"enabled":"true","x":458,"y":227.5,"wires":[["66555444.dcd204"]]},{"id":"fd7e2d4d.0e7218","type":"lra_configure","z":"97842f82.b68198","name":"","pin":1,"managed":"false","percentage":"","effect_number":"55","autostart":"true","x":620,"y":292.5,"wires":[["66555444.dcd204"]]},{"id":"d99ac3c1.308b48","type":"function","z":"97842f82.b68198","name":"RANDOM EFFECT","func":"msg.lra_effect_number = [];\nmsg.lra_effect_number[0] = Math.floor((Math.random() * 55) + 1); \nreturn msg;","outputs":1,"noerr":0,"x":401,"y":348.5,"wires":[["f39d151f.0968f"]]},{"id":"240ba1d8.5f7cbe","type":"function","z":"97842f82.b68198","name":"RANDOM PERCENTAGE","func":"msg.lra_percentage = [];\nmsg.lra_percentage[0] = Math.floor((Math.random() * 50) + 50); \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":299.5,"wires":[["fd7e2d4d.0e7218"]]},{"id":"2c3a454d.39a26a","type":"inject","z":"97842f82.b68198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":216,"y":350,"wires":[["d99ac3c1.308b48"]]},{"id":"f39d151f.0968f","type":"lra_configure","z":"97842f82.b68198","name":"","pin":1,"managed":"true","percentage":"55","effect_number":"","autostart":"true","x":614,"y":342.5,"wires":[["66555444.dcd204"]]},{"id":"c5e51881.53abe8","type":"serial-port","z":"97842f82.b68198","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]