V1/test_env_dashboard.json
[{"id":"f68ab774.234c08","type":"led_rgb_enable","z":"1e37fe18.e3bfe2","name":"","pin":1,"enabled":"true","x":564.4999694824219,"y":182,"wires":[["92ff4137.b5ed4"]]},{"id":"b5a68b0e.ddcf58","type":"inject","z":"1e37fe18.e3bfe2","name":"INIT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":357.9999694824219,"y":182,"wires":[["f68ab774.234c08","ff8d2b44.f411a8"]]},{"id":"92ff4137.b5ed4","type":"serial out","z":"1e37fe18.e3bfe2","name":"","serial":"7ec334ae.e6bdac","x":787.9999694824219,"y":181,"wires":[]},{"id":"ff8d2b44.f411a8","type":"env_enable","z":"1e37fe18.e3bfe2","name":"","enabled":"true","pressure":"true","temperature":"true","humidity":"true","lux":"true","x":566.9999694824219,"y":236.5,"wires":[["92ff4137.b5ed4"]]},{"id":"5a0f8a26.099404","type":"env_read","z":"1e37fe18.e3bfe2","name":"","x":570.9999694824219,"y":322.5,"wires":[["92ff4137.b5ed4"]]},{"id":"cfb14cf0.60d34","type":"inject","z":"1e37fe18.e3bfe2","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":375.9999694824219,"y":322.5,"wires":[["5a0f8a26.099404"]]},{"id":"5053a38b.d92a6c","type":"serial in","z":"1e37fe18.e3bfe2","name":"","serial":"ed857253.b4573","x":270.9999694824219,"y":437.5,"wires":[["d9ee3e95.69a77"]]},{"id":"d9ee3e95.69a77","type":"env_notification_catch","z":"1e37fe18.e3bfe2","name":"","x":493.9999694824219,"y":435.5,"wires":[["19761194.80dafe"]]},{"id":"6c09d664.fd17a8","type":"ui_chart","z":"1e37fe18.e3bfe2","name":"","group":"d685525b.a31da","order":0,"width":"14","height":"8","label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"colors":["#ffff00","#aec7e8","#ff7f0e","#309f2d","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":896.8265571594238,"y":337.1806106567383,"wires":[[],[]]},{"id":"19761194.80dafe","type":"function","z":"1e37fe18.e3bfe2","name":"to String","func":"msg.payload = msg.lux;\n\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nmsg2.payload = msg.humidity;\nmsg3.payload = msg.temperature;\nmsg4.payload = msg.pressure;\n\nreturn [msg,msg2,msg3,msg4];","outputs":"4","noerr":0,"x":744.8958358764648,"y":427.88893032073975,"wires":[["6c09d664.fd17a8"],["8f2e774e.da59f8"],["84403ed3.92496"],["116d1ed1.f2b241"]]},{"id":"116d1ed1.f2b241","type":"ui_gauge","z":"1e37fe18.e3bfe2","name":"","group":"d685525b.a31da","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"mBar","format":"{{value}}","min":0,"max":"1600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":925.0000190734863,"y":458.00000762939453,"wires":[]},{"id":"84403ed3.92496","type":"ui_gauge","z":"1e37fe18.e3bfe2","name":"","group":"f085cda2.298e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C°","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":936.0000190734863,"y":423.00000953674316,"wires":[]},{"id":"8f2e774e.da59f8","type":"ui_chart","z":"1e37fe18.e3bfe2","name":"","group":"f085cda2.298e8","order":0,"width":"14","height":"8","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"colors":["#22cfdd","#aec7e8","#ff7f0e","#309f2d","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":939.0000190734863,"y":372.00000953674316,"wires":[[],[]]},{"id":"7ec334ae.e6bdac","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ed857253.b4573","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d685525b.a31da","type":"ui_group","z":"","name":"1","tab":"5b8a30e9.9874c","disp":true,"width":"14"},{"id":"f085cda2.298e8","type":"ui_group","z":"","name":"2","tab":"5b8a30e9.9874c","order":2,"disp":true,"width":"14"},{"id":"5b8a30e9.9874c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]