V1/test_env_cayenne.json
[{"id":"aba1207a.9245","type":"mqtt out","z":"63ddcc8d.4066d4","name":"","topic":"","qos":"","retain":"","broker":"2a88b2a0.f493ae","x":857.5,"y":339,"wires":[]},{"id":"96818712.e7e388","type":"serial out","z":"63ddcc8d.4066d4","name":"","serial":"b9c785ad.303a18","x":681,"y":204.5,"wires":[]},{"id":"9c6cd735.60b548","type":"inject","z":"63ddcc8d.4066d4","name":"ENABLE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205,"y":172,"wires":[["96010718.c50858"]]},{"id":"96010718.c50858","type":"env_enable","z":"63ddcc8d.4066d4","name":"","enabled":"true","pressure":"true","temperature":"true","humidity":"true","lux":"true","x":399,"y":171,"wires":[["96818712.e7e388"]]},{"id":"636d9ec.fb4a56","type":"env_read","z":"63ddcc8d.4066d4","name":"","x":409,"y":243,"wires":[["96818712.e7e388"]]},{"id":"6de3cc0b.e3b514","type":"inject","z":"63ddcc8d.4066d4","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":189,"y":245,"wires":[["636d9ec.fb4a56"]]},{"id":"d4f7758e.50e838","type":"serial in","z":"63ddcc8d.4066d4","name":"","serial":"b9c785ad.303a18","x":181,"y":315,"wires":[["bd40731f.6334e"]]},{"id":"bd40731f.6334e","type":"env_notification_catch","z":"63ddcc8d.4066d4","name":"","x":423,"y":313,"wires":[["13f014d2.8c1f6b","698bf620.4aa298","2ef1f7ac.3c77e8","a585cbbb.d7b8d8"]]},{"id":"13f014d2.8c1f6b","type":"function","z":"63ddcc8d.4066d4","name":"Temp","func":"msg.topic = \"v1/\"+flow.get('username')+\"/things/\"+flow.get('clientid');\nmsg.topic += \"/data/int_temp\";\n\nmsg.payload = \"temp,c=\" +  msg.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":647,"y":269,"wires":[["aba1207a.9245"]]},{"id":"698bf620.4aa298","type":"function","z":"63ddcc8d.4066d4","name":"Pressure","func":"msg.topic = \"v1/\"+flow.get('username')+\"/things/\"+flow.get('clientid');\nmsg.topic += \"/data/pressure\";\nmsg.payload = \"bp,pa=\" +  (msg.pressure * 100);\nreturn msg;","outputs":1,"noerr":0,"x":649,"y":321,"wires":[["aba1207a.9245"]]},{"id":"2ef1f7ac.3c77e8","type":"function","z":"63ddcc8d.4066d4","name":"Lux","func":"msg.topic = \"v1/\"+flow.get('username')+\"/things/\"+flow.get('clientid');\nmsg.topic += \"/data/lux\";\nmsg.payload = \"lum,lux=\" +  msg.lux;\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":373,"wires":[["aba1207a.9245"]]},{"id":"a585cbbb.d7b8d8","type":"function","z":"63ddcc8d.4066d4","name":"Hum","func":"msg.topic = \"v1/\"+flow.get('username')+\"/things/\"+flow.get('clientid');\nmsg.topic += \"/data/humidity\";\n\nmsg.payload = \"rel_hum,p=\" +  msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":422,"wires":[["aba1207a.9245"]]},{"id":"6d2807e1.fd1038","type":"function","z":"63ddcc8d.4066d4","name":"DATA INIT","func":"flow.set('username','<>');\nflow.set('clientid','<>');\n\nreturn msg;","outputs":1,"noerr":0,"x":392.5,"y":63,"wires":[[]]},{"id":"ffdc6182.fd07d","type":"inject","z":"63ddcc8d.4066d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":205,"y":63,"wires":[["6d2807e1.fd1038"]]},{"id":"2a88b2a0.f493ae","type":"mqtt-broker","z":"","broker":"mqtt.mydevices.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b9c785ad.303a18","type":"serial-port","z":"8b432007.4e76c","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]