V1/test_env_azure.json
[{"id":"437d8039.e8e04","type":"azureiothub","z":"1e37fe18.e3bfe2","name":"Azure IoT Hub","protocol":"mqtt","x":329.8958435058594,"y":490.8888854980469,"wires":[["cd50f568.d48e28"]]},{"id":"cd50f568.d48e28","type":"function","z":"1e37fe18.e3bfe2","name":"to String","func":"msg.payload = msg.payload.toString();\n\nif(msg.payload === \"LEDON\")\n    return [msg,null];\nelse\n    return [null,msg];","outputs":"2","noerr":0,"x":536.8958129882812,"y":491.2389221191406,"wires":[["3dda8316.317a4c"],["8dd27f6f.aac52"]]},{"id":"6d9e302.40914d","type":"led_rgb_enable","z":"1e37fe18.e3bfe2","name":"","pin":1,"enabled":"true","x":421.5,"y":144,"wires":[["b7c61583.0ed4d8"]]},{"id":"3dda8316.317a4c","type":"led_rgb_set","z":"1e37fe18.e3bfe2","name":"","pin":"0","color":"FFFFFF","intensity":50,"autostart":"true","x":792.5,"y":470,"wires":[["eddd2c94.68ab"]]},{"id":"8dd27f6f.aac52","type":"led_rgb_set","z":"1e37fe18.e3bfe2","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":788,"y":550,"wires":[["eddd2c94.68ab"]]},{"id":"eddd2c94.68ab","type":"serial out","z":"1e37fe18.e3bfe2","name":"","serial":"7ec334ae.e6bdac","x":987.5,"y":508,"wires":[]},{"id":"a6d1b240.2a3b2","type":"inject","z":"1e37fe18.e3bfe2","name":"INIT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":215,"y":144,"wires":[["6d9e302.40914d","755b4bbe.e5c7b4"]]},{"id":"b7c61583.0ed4d8","type":"serial out","z":"1e37fe18.e3bfe2","name":"","serial":"7ec334ae.e6bdac","x":645,"y":143,"wires":[]},{"id":"755b4bbe.e5c7b4","type":"env_enable","z":"1e37fe18.e3bfe2","name":"","enabled":"true","pressure":"true","temperature":"true","humidity":"true","lux":"true","x":424,"y":198.5,"wires":[["b7c61583.0ed4d8"]]},{"id":"6db52355.b7f66c","type":"env_read","z":"1e37fe18.e3bfe2","name":"","x":428,"y":284.5,"wires":[["b7c61583.0ed4d8"]]},{"id":"9e8a38f1.935508","type":"inject","z":"1e37fe18.e3bfe2","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":233,"y":284.5,"wires":[["6db52355.b7f66c"]]},{"id":"69507090.25553","type":"serial in","z":"1e37fe18.e3bfe2","name":"","serial":"ed857253.b4573","x":128,"y":399.5,"wires":[["ee2f992.f4d5068"]]},{"id":"ee2f992.f4d5068","type":"env_notification_catch","z":"1e37fe18.e3bfe2","name":"","x":351,"y":397.5,"wires":[["716d16ab.bc1d08"]]},{"id":"716d16ab.bc1d08","type":"function","z":"1e37fe18.e3bfe2","name":"CLOUD","func":"\nmsg.payload = {\"data\": {\"temp\": msg.temperature,\"lux\": msg.lux,\"pressure\": msg.pressure,\"humidity\": msg.humidity}};\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":439.5,"wires":[["437d8039.e8e04"]]},{"id":"7ec334ae.e6bdac","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ed857253.b4573","type":"serial-port","z":"1e37fe18.e3bfe2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]