V1/test_pos.json
[{"id":"9aa53616.c8a6c","type":"inject","z":"edbb11ff.687de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":158,"y":164.5,"wires":[["abf0ee4.4c2061"]]},{"id":"abf0ee4.4c2061","type":"pos_enable","z":"edbb11ff.687de","name":"","enabled":"true","x":346,"y":159.5,"wires":[["7cd60def.bc6db4"]]},{"id":"7cd60def.bc6db4","type":"serial out","z":"edbb11ff.687de","name":"","serial":"8a2351f2.7dcfe","x":703,"y":145,"wires":[]},{"id":"8c9fb025.bfbce8","type":"inject","z":"edbb11ff.687de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":218.5,"wires":[["a67cc170.16837"]]},{"id":"a67cc170.16837","type":"pos_configure","z":"edbb11ff.687de","name":"","enable_raw_notification":"false","enable_euler_notification":"1","sampling_frequency":"1","tap_notification":"true","dtap_notification":"true","freefall_notification":"false","tilt_notification":"false","wakeup_notification":"false","x":326,"y":208.5,"wires":[["7cd60def.bc6db4"]]},{"id":"69393af3.2ed8f4","type":"serial in","z":"edbb11ff.687de","name":"","serial":"8a2351f2.7dcfe","x":140,"y":377.5,"wires":[["f7876bdb.c37908"]]},{"id":"f7876bdb.c37908","type":"pos_notification_catch","z":"edbb11ff.687de","name":"","x":404,"y":352,"wires":[[],["f5180040.55685"],[],[],["6fa049f.a305cb8"],[],[],[]]},{"id":"f5180040.55685","type":"function","z":"edbb11ff.687de","name":"","func":" msg.headers = {  \n \"Content-Type\": \"application/json\",  \n \"Authorization\": \"Bearer <ID>\"  \n };\n msg.payload = {\"data\": \n {\"pitch\": msg.pitch,\"roll\": msg.roll,\"yaw\": msg.yaw},  \n \"sdid\": \"<ID>\",  \n \"type\": \"message\"  \n };\nreturn msg;","outputs":1,"noerr":0,"x":647,"y":317,"wires":[["9b0609c6.df0908"]]},{"id":"9b0609c6.df0908","type":"http request","z":"edbb11ff.687de","name":"","method":"POST","ret":"txt","url":"https://api.artik.cloud/v1.1/messages","x":841,"y":314,"wires":[[]]},{"id":"8a2351f2.7dcfe","type":"serial-port","z":"edbb11ff.687de","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]