V1/test_mic_source_localization.json
[{"id":"902ae6d3.35d168","type":"mic_enable","z":"f51014e1.3bc3b8","name":"","mode":"1","filter_mask":4,"notification_enabled":"false","noti_freq":200,"x":506,"y":144,"wires":[["c1e3d7be.3a7e78"]]},{"id":"5d889766.db1168","type":"mic_notification_catch","z":"f51014e1.3bc3b8","name":"","x":524,"y":357,"wires":[["a941cb52.146c48"],[]]},{"id":"16a4beeb.eef2a1","type":"mic_read_angle","z":"f51014e1.3bc3b8","name":"","x":541,"y":256,"wires":[["c1e3d7be.3a7e78"]]},{"id":"6edee3b6.41339c","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":321.5,"y":147,"wires":[["902ae6d3.35d168","3a29f286.b9d6ae"]]},{"id":"c8dc88f.0933478","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":330.5,"y":247,"wires":[["16a4beeb.eef2a1"]]},{"id":"b0c7cd19.6eb37","type":"serial in","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":297.5,"y":357,"wires":[["5d889766.db1168"]]},{"id":"c1e3d7be.3a7e78","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":744.5,"y":141,"wires":[]},{"id":"2dd26bbb.c50184","type":"debug","z":"f51014e1.3bc3b8","name":"","active":true,"console":"false","complete":"false","x":1049.5,"y":355,"wires":[]},{"id":"a941cb52.146c48","type":"function","z":"f51014e1.3bc3b8","name":"","func":"\n\nif(parseInt(msg.angle / 90) == parseInt(flow.get('angle') / 90))\n    return null;\n    \nif(msg.angle == -1)\n    msg.pin = 5;\nelse\n{\nif(msg.angle >= 276 || msg.angle <= 45)\n    msg.pin = 4;\nelse if(msg.angle >= 46 && msg.angle <= 135)\n    msg.pin = 3; \nelse if(msg.angle >= 136 && msg.angle <= 225)\n    msg.pin = 2; \nelse if(msg.angle >= 226 && msg.angle <= 275)\n    msg.pin = 1; \n}\n\nflow.set('angle',msg.angle);\n\nreturn msg;","outputs":"1","noerr":0,"x":735.5,"y":349,"wires":[["b1e41952.318bd8"]]},{"id":"3a29f286.b9d6ae","type":"led_rgb_enable","z":"f51014e1.3bc3b8","name":"","pin":"0","enabled":"true","x":535,"y":89,"wires":[["c1e3d7be.3a7e78"]]},{"id":"39fcf8ca.3b61f8","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"","color":"FF0000","intensity":50,"autostart":"true","x":775,"y":535,"wires":[["28256153.ec53de","2dd26bbb.c50184"]]},{"id":"b1e41952.318bd8","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":803.5,"y":452,"wires":[["28256153.ec53de","39fcf8ca.3b61f8","2dd26bbb.c50184"]]},{"id":"28256153.ec53de","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"8a035ee3.aacaf","x":1008.5,"y":459,"wires":[]},{"id":"8a035ee3.aacaf","type":"serial-port","z":"f51014e1.3bc3b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]