V1/test_adc.json
[{"id":"92e22820.2fe5e8","type":"adc_enable","z":"5ce33f74.13e9b","name":"","pin":"0","enabled":"true","x":416,"y":215,"wires":[["ade20cd5.0e923"]]},{"id":"f431a5cc.b2fb9","type":"adc_change_mode","z":"5ce33f74.13e9b","name":"","pin":"0","mode":"start","x":433,"y":293,"wires":[["ade20cd5.0e923"]]},{"id":"2ee0505a.dbf5d8","type":"adc_read","z":"5ce33f74.13e9b","name":"","pin":"1","x":428,"y":395,"wires":[["ade20cd5.0e923"]]},{"id":"33111e08.9f5bc2","type":"inject","z":"5ce33f74.13e9b","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184,"y":404,"wires":[["2ee0505a.dbf5d8"]]},{"id":"34aab949.e604e6","type":"inject","z":"5ce33f74.13e9b","name":"START ACQUISITION","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191,"y":296,"wires":[["f431a5cc.b2fb9"]]},{"id":"531680f.9dfd9","type":"inject","z":"5ce33f74.13e9b","name":"ENABLE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":210,"wires":[["92e22820.2fe5e8"]]},{"id":"34c78800.6fa138","type":"adc_get","z":"5ce33f74.13e9b","name":"","x":332,"y":508,"wires":[["38e157a4.12b02"]]},{"id":"38e157a4.12b02","type":"ntc_to_c","z":"5ce33f74.13e9b","name":"","b":"3988","ntc_res":100000,"x":516,"y":507,"wires":[["39ec954d.17669a"]]},{"id":"969d9511.b269a8","type":"serial in","z":"5ce33f74.13e9b","name":"","serial":"a1ca8606.c169a","x":151,"y":512,"wires":[["34c78800.6fa138"]]},{"id":"ade20cd5.0e923","type":"serial out","z":"5ce33f74.13e9b","name":"","serial":"a1ca8606.c169a","x":674,"y":226,"wires":[]},{"id":"39ec954d.17669a","type":"debug","z":"5ce33f74.13e9b","name":"DEBUG","active":true,"console":"false","complete":"true","x":714,"y":514,"wires":[]},{"id":"a1ca8606.c169a","type":"serial-port","z":"5ce33f74.13e9b","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]