V1/test_prox_reading.json
[{"id":"44508adb.6813cc","type":"prox_lux_read_prox","z":"140b55fe.ccaea2","name":"","pin":"1","x":456,"y":293.5,"wires":[["1dc0920a.d074a6"]]},{"id":"1dc0920a.d074a6","type":"serial out","z":"140b55fe.ccaea2","name":"","serial":"aaf4d645.35099","x":753,"y":297.5,"wires":[]},{"id":"ec3a6ab0.0035","type":"prox_lux_configure","z":"140b55fe.ccaea2","name":"","pin":"1","disable_lux":"true","disable_prox":"false","extended_range":"2","x":444,"y":204.5,"wires":[["1dc0920a.d074a6"]]},{"id":"9cbfd751.79609","type":"prox_lux_enable","z":"140b55fe.ccaea2","name":"","pin":1,"enabled":"true","x":444,"y":125,"wires":[["1dc0920a.d074a6"]]},{"id":"e4b737eb.aa94b","type":"inject","z":"140b55fe.ccaea2","name":"INIT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189,"y":126,"wires":[["9cbfd751.79609"]]},{"id":"611d2161.8f5f1","type":"inject","z":"140b55fe.ccaea2","name":"CONFIGURE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208,"y":208,"wires":[["ec3a6ab0.0035"]]},{"id":"832df354.c1c808","type":"inject","z":"140b55fe.ccaea2","name":"READ","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":200,"y":301,"wires":[["44508adb.6813cc"]]},{"id":"a82da7fd.9f4bf8","type":"prox_lux_get_prox","z":"140b55fe.ccaea2","name":"","x":374,"y":418,"wires":[["efa88479.4251b8"]]},{"id":"538eb8b5.e2e2b8","type":"http request","z":"140b55fe.ccaea2","name":"","method":"POST","ret":"txt","url":"https://api.artik.cloud/v1.1/messages","tls":"","x":829,"y":419.77777099609375,"wires":[[]]},{"id":"efa88479.4251b8","type":"function","z":"140b55fe.ccaea2","name":"CLOUD CONFIG","func":" msg.headers = {  \n \"Content-Type\": \"application/json\",  \n \"Authorization\": \"Bearer <KEY>\"  \n };\n msg.payload = {\"data\": \n {\"prox1\": msg.payload},  \n \"sdid\": \"<ID>\",  \n \"type\": \"message\"  \n };\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":418.77777099609375,"wires":[["538eb8b5.e2e2b8"]]},{"id":"9a3a3c02.42fde","type":"serial in","z":"140b55fe.ccaea2","name":"","serial":"b3a6fe35.bcd71","x":167,"y":416.27777099609375,"wires":[["a82da7fd.9f4bf8"]]},{"id":"aaf4d645.35099","type":"serial-port","z":"140b55fe.ccaea2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b3a6fe35.bcd71","type":"serial-port","z":"140b55fe.ccaea2","serialport":"/dev/ttySAC3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]