V1/test_buzzer.json
[{"id":"563ce33a.bd5acc","type":"serial out","z":"7b290939.cb7058","name":"","serial":"771d6cd7.0dd2a4","x":579,"y":206,"wires":[]},{"id":"531702fd.f76e2c","type":"inject","z":"7b290939.cb7058","name":"INITIALIZE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":228.5,"wires":[["f11765f0.c0b5a8","4f21d03.389203"]]},{"id":"f11765f0.c0b5a8","type":"buzz_enable","z":"7b290939.cb7058","name":"","enabled":"true","x":341.5,"y":229.5,"wires":[["563ce33a.bd5acc"]]},{"id":"e3189191.8f26c","type":"buzz_change","z":"7b290939.cb7058","name":"","frequency":"","duty_cycle":"","use_toggle":"false","toggle":"200","x":506.5,"y":376.5,"wires":[["563ce33a.bd5acc"]]},{"id":"6c1d3f07.bcde3","type":"inject","z":"7b290939.cb7058","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":376.5,"wires":[["d8216189.66b93"]]},{"id":"4f21d03.389203","type":"function","z":"7b290939.cb7058","name":"INIT","func":"flow.set('notes', [\n/*Hap  py  Birth Day  to  you,  Hap py   birth day  to\nC4   C4   D4   C4   F4   E4   C4   C4   D4   C4   G4 */\n262, 262,294, 262,349, 330,262, 262, 294,262, 392,\n/*you, Hap py  Birth Day  dear  xxxx      Hap  py   birth\nF4   C4   C4   C5   A4   F4   E4   D4   B4b  B4b  A4 */\n349, 262, 262, 523, 440, 349, 330, 294, 466, 466, 440,\n/*day  to  you\nF4   G4   F4   */\n349, 392, 349]);\n\n\nflow.set('interval', [4, 4, 8, 8, 8, 10, 4, 4, 8, 8, 8, 10, 4, 4, 8, 8, 8,\n                             8, 8, 4, 4, 8, 8, 8, 12]);\n\nflow.set('index',0);\nflow.set('pause',0);\nflow.set('stop',0);\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":301.5,"wires":[[]]},{"id":"d8216189.66b93","type":"function","z":"7b290939.cb7058","name":"SET FREQ","func":"var index = flow.get('index');\nvar pause =  !flow.get('pause');\nvar stop =  flow.get('stop');\nvar interval;\nif(stop)\n    return null;\nif(!pause) \n    interval = 80; //commited a pause last time, how much wait before next note?\nelse if(!index)\n{\n    interval = 100*(flow.get('interval')[23]);\n    pause = 1;\n}\nelse\n    interval = 100*(flow.get('interval')[index-1]);\nif(pause)\n{\n    msg.buzz_frequency = 0;\n    msg.buzz_duty_cycle = 0;\n    flow.set('pause',pause);\n    setTimeout(function()\n    {\n        node.send(msg);\n    },interval);\n    return null;\n}\nelse\n    msg.buzz_duty_cycle = 50;\n\nmsg.buzz_frequency = flow.get('notes')[index];\nindex++;\nif(index > (24))\n    index = 0;\nflow.set('index',index);\nflow.set('pause',pause);\n\nsetTimeout(function()\n{\n    node.send(msg);\n},interval);\nreturn null;","outputs":1,"noerr":0,"x":326,"y":376.5,"wires":[["e3189191.8f26c","14d536f.15165c9"]]},{"id":"12bd0482.08559b","type":"inject","z":"7b290939.cb7058","name":"STOP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":179,"y":103.5,"wires":[["ee8bb88c.5e84b8","b04dcd2c.a67e8"]]},{"id":"ee8bb88c.5e84b8","type":"buzz_change","z":"7b290939.cb7058","name":"","frequency":"0","duty_cycle":"50","use_toggle":"false","toggle":0,"x":362,"y":101,"wires":[["563ce33a.bd5acc"]]},{"id":"14d536f.15165c9","type":"function","z":"7b290939.cb7058","name":"LOOP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":463.5,"wires":[["d8216189.66b93"]]},{"id":"b04dcd2c.a67e8","type":"function","z":"7b290939.cb7058","name":"STOP","func":"\nflow.set('stop',1);\n","outputs":1,"noerr":0,"x":336,"y":148,"wires":[[]]},{"id":"771d6cd7.0dd2a4","type":"serial-port","z":"7b290939.cb7058","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]