V1/test_tap.json
[{"id":"ff067e83.ceab5","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":281,"y":245,"wires":[["9fd71d01.1ef3e","7263dde1.ef3324"]]},{"id":"9fd71d01.1ef3e","type":"pos_configure","z":"f51014e1.3bc3b8","name":"","enable_raw_notification":"false","enable_euler_notification":"0","sampling_frequency":"1","tap_notification":"true","dtap_notification":"false","freefall_notification":"false","tilt_notification":"false","wakeup_notification":"false","pedometer_notification":"false","x":488,"y":245,"wires":[["50873b28.ece1b4"]]},{"id":"50873b28.ece1b4","type":"serial out","z":"f51014e1.3bc3b8","name":"","serial":"db9ae02e.c31eb","x":917,"y":213.5,"wires":[]},{"id":"3beb49b0.0bab56","type":"pos_enable","z":"f51014e1.3bc3b8","name":"","enabled":"true","x":499,"y":189,"wires":[["50873b28.ece1b4"]]},{"id":"ca79ba37.346ce8","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":283,"y":191,"wires":[["3beb49b0.0bab56","7d6eba96.30ad44"]]},{"id":"caae536b.9b341","type":"pos_notification_catch","z":"f51014e1.3bc3b8","name":"","x":461.5,"y":417,"wires":[[],[],[],["b54f7d8d.f6e39"],[],[],[],[]]},{"id":"3f2ee789.5e8f68","type":"serial in","z":"f51014e1.3bc3b8","name":"","serial":"160a982b.4af258","x":238,"y":416,"wires":[["caae536b.9b341"]]},{"id":"b54f7d8d.f6e39","type":"function","z":"f51014e1.3bc3b8","name":"INC STEPS","func":"//var old_steps = flow.get('old_steps') || 0;\nflow.set('steps', flow.get('steps')+1 /*- old_steps*/);\nreturn msg;","outputs":"0","noerr":0,"x":725,"y":412.5,"wires":[]},{"id":"e423640c.3ceb18","type":"inject","z":"f51014e1.3bc3b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"x":241,"y":529.5,"wires":[["83517b08.4f31a8"]]},{"id":"7263dde1.ef3324","type":"function","z":"f51014e1.3bc3b8","name":"INIT STEPS","func":"flow.set('steps',0);\nflow.set('old_steps',0);","outputs":"0","noerr":0,"x":486,"y":293,"wires":[]},{"id":"7d6eba96.30ad44","type":"led_rgb_enable","z":"f51014e1.3bc3b8","name":"","pin":"0","enabled":"true","x":511,"y":142,"wires":[["50873b28.ece1b4"]]},{"id":"83517b08.4f31a8","type":"function","z":"f51014e1.3bc3b8","name":"LED CONFIGURE","func":"var msg2;\nmsg.led_color = [];\nnode.log(flow.get('steps'));\nvar steps_count = flow.get('steps') || 0;\n\nif(steps_count != flow.get('old_steps'))\n{\n    flow.set('old_steps', steps_count);\n\n    msg.pin = (steps_count % 4) + 1;\n\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":481,"y":531.5,"wires":[["9285a4e0.74d758"]]},{"id":"9285a4e0.74d758","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"0","color":"000000","intensity":50,"autostart":"true","x":718.5,"y":528.5,"wires":[["50873b28.ece1b4","f5e7c97b.f82a28"]]},{"id":"f5e7c97b.f82a28","type":"led_rgb_set","z":"f51014e1.3bc3b8","name":"","pin":"","color":"0000FF","intensity":50,"autostart":"true","x":753,"y":636,"wires":[["50873b28.ece1b4"]]},{"id":"db9ae02e.c31eb","type":"serial-port","z":"f51014e1.3bc3b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"160a982b.4af258","type":"serial-port","z":"f51014e1.3bc3b8","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]