V1/test_gestures.json
[{"id":"832d2721.d18718","type":"serial out","z":"140b55fe.ccaea2","name":"","serial":"aaf4d645.35099","x":712.5,"y":145,"wires":[]},{"id":"bbff0a09.673df8","type":"serial in","z":"140b55fe.ccaea2","name":"","serial":"aaf4d645.35099","x":97.5,"y":441,"wires":[["2387b254.9fb8de"]]},{"id":"eceba4b.bbc6758","type":"prox_lux_enable","z":"140b55fe.ccaea2","name":"","pin":1,"enabled":"true","x":403.5,"y":102,"wires":[["832d2721.d18718"]]},{"id":"d500b197.621da","type":"inject","z":"140b55fe.ccaea2","name":"STEP2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164,"y":80,"wires":[["eceba4b.bbc6758"]]},{"id":"def0765c.9d9248","type":"prox_lux_managed","z":"140b55fe.ccaea2","name":"","enabled":"true","x":400.5,"y":299,"wires":[["832d2721.d18718"]]},{"id":"2387b254.9fb8de","type":"prox_lux_managed_catch","z":"140b55fe.ccaea2","name":"","x":369.5,"y":528,"wires":[["577c32d2.663dac"],["555eec06.516fa4"]]},{"id":"2807d1be.b316be","type":"inject","z":"140b55fe.ccaea2","name":"STEP6","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181,"y":305,"wires":[["def0765c.9d9248"]]},{"id":"cde19063.3f37c","type":"prox_lux_enable","z":"140b55fe.ccaea2","name":"","pin":"2","enabled":"true","x":390,"y":150,"wires":[["832d2721.d18718"]]},{"id":"3bd90369.a475cc","type":"inject","z":"140b55fe.ccaea2","name":"STEP3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":141,"wires":[["cde19063.3f37c"]]},{"id":"577c32d2.663dac","type":"led_rgb_set","z":"140b55fe.ccaea2","name":"","pin":"0","color":"FF0000","intensity":"50","autostart":"true","x":676,"y":540,"wires":[["80ca5b0f.48ac08"]]},{"id":"555eec06.516fa4","type":"led_rgb_set","z":"140b55fe.ccaea2","name":"","pin":"0","color":"0000FF","intensity":"50","autostart":"true","x":665,"y":631,"wires":[["80ca5b0f.48ac08"]]},{"id":"80ca5b0f.48ac08","type":"serial out","z":"140b55fe.ccaea2","name":"","serial":"aaf4d645.35099","x":922,"y":567,"wires":[]},{"id":"4e301603.e125a8","type":"prox_lux_configure","z":"140b55fe.ccaea2","name":"","pin":1,"disable_lux":"true","disable_prox":"false","extended_range":0,"x":394.5,"y":197,"wires":[["832d2721.d18718"]]},{"id":"997dd260.967c4","type":"prox_lux_configure","z":"140b55fe.ccaea2","name":"","pin":"2","disable_lux":"true","disable_prox":"false","extended_range":0,"x":401,"y":245,"wires":[["832d2721.d18718"]]},{"id":"2361bbd1.a8f194","type":"inject","z":"140b55fe.ccaea2","name":"STEP4","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":193,"wires":[["4e301603.e125a8"]]},{"id":"79ed9218.a1e0ac","type":"inject","z":"140b55fe.ccaea2","name":"STEP5","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168,"y":250,"wires":[["997dd260.967c4"]]},{"id":"d4ff7704.cb4a28","type":"led_rgb_enable","z":"140b55fe.ccaea2","name":"","pin":"0","enabled":"true","x":385,"y":41,"wires":[["832d2721.d18718"]]},{"id":"7f352a3a.837d94","type":"inject","z":"140b55fe.ccaea2","name":"STEP1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.0469970703125,"y":44.462005615234375,"wires":[["d4ff7704.cb4a28"]]},{"id":"aaf4d645.35099","type":"serial-port","z":"140b55fe.ccaea2","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]