V1/test_leds.json
[{"id":"d5799d6e.2b8bb","type":"inject","z":"eebd8108.7bc318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":276,"y":446,"wires":[["7a7f373a.5bbe48"]]},{"id":"7a7f373a.5bbe48","type":"led_rgb_enable","z":"eebd8108.7bc318","name":"","pin":"0","enabled":"true","x":470.9530029296875,"y":443.5379943847656,"wires":[["1e5824f2.de537b"]]},{"id":"1e5824f2.de537b","type":"serial out","z":"eebd8108.7bc318","name":"","serial":"31fd776c.e0e8a8","x":695.9530029296875,"y":483.0379943847656,"wires":[]},{"id":"323988e3.f852f8","type":"inject","z":"eebd8108.7bc318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":272.9530029296875,"y":518.5379943847656,"wires":[["9ed29b33.c0d9b8"]]},{"id":"9ed29b33.c0d9b8","type":"led_rgb_set","z":"eebd8108.7bc318","name":"","pin":"0","color":"FF0000","intensity":"50","autostart":"true","x":472.9530029296875,"y":520.5379943847656,"wires":[["1e5824f2.de537b"]]},{"id":"31fd776c.e0e8a8","type":"serial-port","z":"eebd8108.7bc318","serialport":"/dev/ttySAC3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]